body {
        background-color: #0c0c2c;   
}



.head {
    font-size: 15px;
}

.button {
    color: rgb(209, 76, 221);
    background-color: rgb(50, 230, 230);
    border-radius: 6px;
    text-decoration: none;
}

.front {
    text-align: center;
}

.list-group {
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
}


.footer {
    color: rgb(209, 76, 221);
//position: absolute;
text-align: center;
 //   height: 200px;
   // width: 100%;
//bottom: 0;
}

footer{
    color: rgb(209, 76, 221);
    text-align: center;
}

.comingSoon_container {
    background-color: white;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;
  }